{
    "public": { "rootUrl": "http://localhost:3000" },
    "mysql": {
        "host" : "localhost",
        "database" : "meineDB",
        "username" : "username",
        "password" : "password",
        "port": 3306
    } 
}